body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    font-family: 'VeniteAdoremus', sans-serif;
    padding-top: 56px;
}

button {
    font-family: 'SpaceMission', sans-serif;
    cursor: pointer;
    background-color: #9b9b9b;
    border: none;
    color: rgb(0, 0, 0);
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    width: 400px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 20px;
}

button:hover {
    background-color: #0675d3;
}

.dropdown-menu {
    background-color: #198754;
    border-color: #ffffff;
}

.dropdown-item {
    color: #212529;
}

#titleFirstpage {
    font-size: 75px;
    color: #198754;
    font-family: 'VeniteAdoremus', sans-serif;
}

#titleHomepage {
    font-size: 75px;
    color: #198754;
    font-family: 'VeniteAdoremus', sans-serif;
}

#settings {
    font-size: 25px;
    color: #198754;
    font-family: 'VeniteAdoremus', sans-serif;
}

#loginContainer {
    font-size: 25px;
    color: #198754;
    font-family: 'VeniteAdoremus', sans-serif;
}

#login42Container {
    font-size: 25px;
    color: #198754;
    font-family: 'VeniteAdoremus', sans-serif;
}

#multiplayer {
    font-size: 25px;
    color: #198754;
    font-family: 'VeniteAdoremus', sans-serif;
}

#register {
    font-size: 25px;
    color: #198754;
    font-family: 'VeniteAdoremus', sans-serif;
}

#tournament {
    font-size: 25px;
    color: #198754;
    font-family: 'VeniteAdoremus', sans-serif;
}

#tournamentStage {
    font-size: 25px;
    color: #198754;
    font-family: 'VeniteAdoremus', sans-serif;
}

#tournamentTree {
    font-size: 15px;
    color: #ffffff;
    font-family: 'VeniteAdoremus', sans-serif;
}

#participantCount {
    font-size: 15px;
    color: #ffffff;
    font-family: 'VeniteAdoremus', sans-serif;
}

#playerStats {
    font-size: 15px;
    color: #198754;
    font-family: 'VeniteAdoremus', sans-serif;
}

#callback {
    font-size: 15px;
    color: #198754;
    font-family: 'VeniteAdoremus', sans-serif;
}

#roomList {
    font-size: 25px;
    color: #198754;
    font-family: 'VeniteAdoremus', sans-serif;
}

#homepageBody {
    font-size: 150px;
    color: #0454aa;
}

#loginErrorModal .modal-content {
    background-color: black;
    border: 2px solid #198754;
    color: white;
}

#loginErrorModal .btn-outline-success {
    border-color: #198754;
    color: #198754;
}

#loginErrorModal .btn-outline-success:hover {
    background-color: #198754;
    color: black;
}

#registerErrorModal .modal-content {
    background-color: black;
    border: 2px solid #198754;
    color: white;
}

#registerErrorModal .btn-outline-success {
    border-color: #198754;
    color: #198754;
}

#registerErrorModal .btn-outline-success:hover {
    background-color: #299a65;
    color: black;
}

#invitePopupModal .modal-content {
    background-color: #27aa6a;
    color: black;
    font-family: 'VeniteAdoremus', sans-serif;
}

#WonTournamentModal .modal-content {
    background-color: black;
    border: 2px solid #198754;
    color: white;
}

#WonTournamentModal .btn-outline-success {
    border-color: #198754;
    color: #198754;
}

#WonTournamentModal .btn-outline-success:hover {
    background-color: #299a65;
    color: black;
}

#LostTournamentModal .modal-content {
    background-color: black;
    border: 2px solid #198754;
    color: white;
}

#LostTournamentModal .btn-outline-success {
    border-color: #198754;
    color: #198754;
}

#LostTournamentModal .btn-outline-success:hover {
    background-color: #299a65;
    color: black;
}

.section {
    margin: 20px;
    font-size: 50px;
    color: #9b9b9b;
    background-color: #000;
    font-family: 'SpaceMission', sans-serif;
    text-align: center;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-play-again {
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    width: auto;
    margin: 0;
}

#title_score {
    color: #ff6e6e;
}

.navbar {
    background-color: #9b9b9b;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    background-color: #ddd;
    color: black;
}

.status-indicator {
    font-size: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    color: grey;
}

canvas {
    background-color: #222;
    display: block;
    margin: auto;
}

@font-face {
    font-family: 'VeniteAdoremus';
    src: url('fonts/VeniteAdoremus.ttf') format('truetype');
}

@font-face {
    font-family: 'SpaceMission';
    src: url('fonts/SpaceMission.otf') format('opentype');
}

input[type='password'] {
    font-family: 'monospace';
}

input[type='range'] {
    overflow: hidden;
    width: 80%;
    -webkit-appearance: none;
    background-color: #9a905d;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
}

input[type='range']::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: 0 0 0 1px #43e5f7;
}

input[type='range']::-moz-range-track {
    background-color: #9a905d;
}

input[type='range']::-moz-range-thumb {
    background: #434343;
}

input[type='range']::-ms-thumb {
    background: #434343;
}
